<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/style.css"/>
    <title>Resume</title>
</head>
<body>
<div class="container">
        <div class="col-sm-12">
            <img src="joyce.png" alt="Joyce Yang">
            <div class="row">

            <h1 class="text-center"> Joyce Yang</h1>
            <h2 class="text-center">Java Programmer</h2>
            <div class="col-sm-3 col-sm-offset-4">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="glyphicon glyphicon-envelope"> </span>
                    </div>
                     <div class="col-sm-9">
                          jcyang6@yangacademy.com
                     </div>
                 </div>

            </div>


            </div>
        </div>


<div class="row">
    <a href="http://gaithersburg.aopsacademy.org"> AoPS Academy</a><br/>
    Instructor of Mathematics
</div>
    <ul>
        <li>
            Help students grow and develop mathematics skills
        </li>
        <li>
            As part of math competition preparation course, help students gain problem solving skills
        </li>
    </ul>


</div>
</body>
</html>