<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="UTF-8">

    <script src="https://use.fontawesome.com/ef9fc117f2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/style.css"/>
    <title>Resume</title>
</head>
<body>


<div class="container"  id="container1">
        <div class=" col-sm-12">

            <div class="col-sm-3  text-center">
            <img src="joyce.png" alt="Joyce Yang"/>
            </div>
            <div class="col-sm-6 text-center">

            <h1 class="text-center"> Joyce Yang</h1>
            <h2 class="text-center">Java Programmer</h2>

                <div class="row">

                   <div class="h5"><span class="glyphicon glyphicon-envelope"> </span>jcyang6@yangacademy.com</div>

                     <div class="h5"><span class="glyphicon glyphicon-phone"> </span>240-328-4847 </div>

                     <div class="col-sm-3">
                        <!--  jcyang6@yangacademy.com<br/>
                         2403284847<br/>
                        -->

                     </div>

                 </div>






            </div>
            <div class="col-sm-2 text-center">
                <br/>
                <br/>
                <br/>
                <a href="https://linkedin.com/in/jcyang1"><i class="fa fa-linkedin" aria-hidden="true"></i></a><br/>
                <a href="http://www.github.com/jcyang36"><i class="fa fa-github" aria-hidden="true"></i></a><br/>
                <a href="http://www.twitter.com/yangJcyang"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                <br/>
            </div>
        </div>


    <div class="col-md-3 col-md-offset-1 text-center">
        <h4>OBJECTIVE</h4>
    </div>

        <div class="col-md-8 col-md-offset-4">
            I am looking for a position as a software developer.  I have completed a Java bootcamp finder website project and developed applications using databases.
        </div>



<div class="col-md-3 col-md-offset-1 text-center">
    <h4>EDUCATION</h4>
</div>
    <div class="col-md-10 col-md-offset-1">
    <table>
    <tr>
        <td class="newclass description" >09/12-12/16
        </td>
        <td>

                <a href="http://hmc.edu"> Harvey Mudd College</a>, Claremont, CA,  <br/>
        Bachelor of Science, Mathematics <br/>

        </td>

    </tr>
    </table>
    </div>
    <div class="col-md-3 col-md-offset-1 text-center">
    <h4>EXPERIENCE</h4><br/>


    </div>


        <div class="col-md-10 col-md-offset-1">



            <table class="one">

                <tr>
                    <td class="description">02/17-present
                    </td>
                    <td> <span><a href="http://gaithersburg.aopsacademy.org"> AoPS Academy</a>, Gaithersburg,                    MD<br/>
         Instructor of Mathematics
                         </span>

                        <ul>
                            <li>
                                Help students grow and develop mathematics skills
                            </li>
                            <li>
                                As part of math competition preparation course, help students gain problem solving                  skills
                            </li>
                        </ul>
                    </td>

                </tr>

                <tr>
                     <td class="description">
                      10/17- present
                     </td>
                     <td>
                         <a href="http://cms.montgomerycollege.edu/iti/javabootcamp.html">Montgomery College Java Boot Camp</a>, Gaithersburg, MD <br/>  Student


                         <ul>
                             <li> Participating in an 8-week, full-time boot camp.</li>
                         </ul>
                     </td>
               </tr>


             <tr>
            <td class="description">   05/17-08/17</td>
            <td><a href="http://cms.montgomerycollege.edu/iti/javabootcamp.html">Montgomery College Java Boot Camp</a>, Gaithersburg, MD  <br/>  Student
            <ul><li>          Coded 19 Java web projects using controllers, completing an 8-week, full-time boot camp.
               </li>
               <li>
                Wrote secure applications and deployed them to cloud services.
              </li>
              </ul>
             </td>
             </tr>

                <tr>
                <td class="description"> 02/17-09/17</td>
                    <td><a href="http://yangacademy.com" >Yang Academy</a> , Gaithersburg, MD      <br/>  AP Physics and AP Calculus BC Teacher

        <ul>
            <li>
                Taught AP Physics and AP Calculus BC, guiding students to reach understanding.

            </li>
            <li>
                Answered students’ questions as part of AP test preparation.
            </li>
        </ul>
                    </td>
                </tr>
    <tr>
             <td class="description">12/15-12/16</td>
              <td><a href="https://www.hmc.edu/student-life/student-affairs/">Harvey Mudd College                Division of Student Affairs</a>, Claremont, CA        <br/>      Tutor and                         Office Assistant


             <ul>
                 <li>
                Worked with students on mathematics, physics and chemistry.  Guided students to                 understanding as a Homework Hotline tutor.
                 </li>
                </ul>

                </td>
                </tr>
                <tr>
                <td class="description">05/14-07/14</td>
                    <td>
             <span> <a href="https://math.sciences.ncsu.edu/">NC State University REU</a>, Raleigh, NC       <br/> Mathematics Researcher                    </span>
            <ul> <li>Worked on a team in Maple to conduct research in abstract algebra.</li>

            <li>Wrote code and employed linear algebra, analyzing properties of maps under Prof Aloysius Helminck and Ruth Haas.</li>
            </ul>
                    </td>
                </tr>
                <tr>
                    <td class="description">    01/14-05/14</td>
                <td><a href="http://hmc.edu"  >Harvey Mudd College</a>, Claremont CA      <br/> Head Grader for Differential Equations
         <ul>
           <li>Supervised a team of 15 people and was responsible for their work.</li>

           <li>     Organized grading for first-year differential equations class.</li>
           </ul>
                    </td>

                 </tr>
            <tr>
            <td class="description">06/09-08/12</td>
            <td> <a href="http://yangacademy.com">Yang Academy</a>, Rockville, MD    <br/>  Mathematics Researcher and Tutor

    <ul>
        <li>
        Created 150 original diagrams to determine pattern among atomic systems. Searched systems

        of 200 to 10,000 atoms and produced 16 optimal results.
        </li>
    </ul>
                </td>

            </tr>
            </table>
        </div>

    <div class="col-md-3 col-md-offset-1 text-center">
        <h4>SKILLS</h4>
    </div>
    <div class="col-md-6 col-md-offset-4">

    <div class="col-md-4">
        <ul>
            <li>jQuery, proficient</li>
            <li>HTML, highly skilled</li>
             <li>R, proficient</li>
        </ul>
    </div>

        <div class="col-md-4">
            <ul>
                <li>Javascript, proficient</li>
                <li>CSS, highly skilled</li>
                <li> SPSS, proficient</li>
            </ul>
        </div>

        <div class="col-md-4">
            <ul>
            <li>Python, proficient</li>
            <li>Visual Basic, proficient </li>
            <li>  Java, highly skilled    </li>
            </ul>
        </div>


    </div>
</div>
</body>
</html>