img{
     width:70%;
     margin: 0px 0px 0px 70px;
}
html{

     background:url(gradient.png)no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     color: white;
}

a{

     color: indigo;
}

body { margin: 50px; background-color: white;
font-size:16px;}


#container1 *{
     padding: 5px 10px;
}


td{width: 30%;}

td+td{width:auto;}

.newclass{width:275px;

         }

td.description {vertical-align: top;
text-align:center}

i.fa.fa-linkedin {
     font-size: 30px;
     }
i.fa.fa-github {
     font-size: 30px;

}
i.fa.fa-twitter{
     font-size: 30px;

}

i.glyphicon.glyphicon-envelope{font-size: 20px;}
i.glyphicon.glyphicon-phone{font-size: 20px;}